/* CSS files add styling rules to your content */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}

h1 {
  color: #fff;
  padding: 3% 0% 0% 3%;
  font-size: xxx-large;
}

h2 {
  color: #fff;
  background-color: #99ccff;
  border-radius: 10px;
  padding: 8px;
}

h3 {
  color: #99ccff;
  font-family: "Caveat", cursive;
  font-size: x-large;
}

body {
  font-family: "Raleway", sans-serif;
}

nav {
  background-color: #99ccff;
  border-radius: 10px;
}

a:link {
  color: #ff87c3;
  text-decoration: none;
}

a:visited {
  color: #ff87c3;
  text-decoration: none;
}

a:hover {
  color: #ff69b4;
  text-decoration: none;
}

a:active {
  color: #ff69b4;
  text-decoration: none;
}

.search input {
	width:100%;
  margin:0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #eeeeee;
}

.footer {
  text-align: center;
  background-color: #99ccff;
  border-radius: 10px;
  color: white;
  bottom: 0;
  padding: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.profileImage {
  border-radius: 10px;
  border-width: 5%;
  border: 5px solid #ddd;
  width: 70%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  /*border: 5px solid #99ccff;
  background-color: #fff;
  border-radius: 10px;*/
}

.flex-container > li {
  padding: 2%;
  font-size: 150%;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.back-button-container {
  padding: 0% 0% 2% 2%;
  font-size: 200%;
  list-style-type: none;
  text-align: left;
  color: #ff69b4;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1024px;
  width: 100%;
  box-sizing: border-box;
  position: static;
  margin: 0 auto;
  /*padding: 1% 10% 10% 10%;*/
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  .col-1 {
    flex-basis: 8.33%;
  }
  .col-2 {
    flex-basis: 16.66%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 50%;
  }
  .col-5 {
    flex-basis: 50%;
  }
  .col-6 {
    flex-basis: 40%;
  }
  .col-7 {
    flex-basis: 25%;
  }
  .col-8 {
    flex-basis: 33.33%;
  }
  .col-9 {
    flex-basis: 33.33%;
  }
  .col-10 {
    flex-basis: 83.33%;
  }
  .col-11 {
    flex-basis: 91.66%;
  }
  .col-12 {
    flex-basis: 100%;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
}
